<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                News Sentiment
            </div>
            <div class="sign-up">
                <a
                    href="https://www.meaningcloud.com/developer/create-account"
                    target="_blank"
                    rel=”noreferrer”
                >
                    Sign up to MeaningCloud API
                </a>
            </div>
        </header>

        <main>
            <section>
                <form id="newsForm" class="" onsubmit="return Client.handleSubmit(event)">
                    <div class="input-cluster">
                        <input id="url" type="text" name="input" value="" placeholder="Please write here the URL of the article to be analized.">
                        <input id="submitBtn" type="submit" name="" value="Submit">
                    </div>
                    <div id="feedback"></div>
                </form>
            <section>

            <section>
                <div id="response">
                    <strong>Results:</strong>
                    <div id="results" class="hide">
                        <div class="flex">
                            <strong>Agreement:</strong>
                            <div id="agreement" class="m-left"></div>
                        </div>
                        <div class="flex">
                            <strong>Subjectivity:</strong>
                            <div id="subjectivity" class="m-left"></div>
                        </div>
                        <div class="flex">
                            <strong>Confidence:</strong>
                            <div id="confidence" class="m-left"></div>
                        </div>
                        <div class="flex">
                            <strong>Irony:</strong>
                            <div id="irony" class="m-left"></div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <p>Copyright Ori Bermudez 2020 &reg;</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>

    </body>
</html>
