#response {
  display: flex;
  line-height: 1.8;

  #results {
    margin: 0% 5%;
    background-color: #ffd64d;
    padding: 1%;
  }

  .hide {
    display: none;
  }

  .flex {
    display: flex;
  }

  .m-left {
    margin-left: 3%;
  }
}